
#wrapper {
   padding:1em;
   width:710px;
   max-width:710px;
}

.SourceBox-segment {
   font-family:Palatino Linotype,serif;
   margin-bottom:1.0em;
   cursor:pointer;
   color:LightGray;
   line-height:125%;
}

.SourceBox-token {
   margin-left:0.1em;
   margin-bottom:0.3em;
}

#SourceBox-tooltip {
   padding:0.2em 0.2em 0em 0.3em;
   position:fixed;
   display:none;
   box-shadow: 2px 2px 1px #888888;
   z-index:99;
   background-color:#FFFFFF;
   font-family:Gill Sans, Helvetica, sans-serif;
   border-left-style:solid;
   border-color:#99CCFF;
}

.SourceBox-option {
   cursor:pointer;
   font-size:small;
   margin-bottom:0.2em;
}

[src-select=T] {
   color:Black;
}

[src-word-select=T] {
   background-color:#99CCFF;
}

[tgt-word-select=T] {
   background-color:LightGray;
}

[pos=N] {
   background-color:CornflowerBlue;
}

[pos=V] {
   background-color:IndianRed;
}

[pos=A] {
   background-color:GreenYellow;
}

[pos=ADV] {
   background-color:Thistle;
}