@font-face {
	font-family: NeutraTextLight;
	src: url( "/static/NeutraText-Light.otf" ); 
}
@font-face {
	font-family: NeutraTextBold;
	src: url( "/static/NeutraText-Bold.otf" ); 
}
@font-face {
	font-family: HelveticaNeue;
	src: url( "/static/helveticaneue-webfont.ttf" );
}
@font-face {
	font-family: HelveticaNeueBold;
	src: url( "/static/helveticaneuebold-webfont.ttf" );
}
@font-face {
	font-family: EmbeddedGeorgia;
	src: url( "/static/Georgia.ttf" );
}
.UI {
	font-family: EmbeddedGeorgia, Georgia, serif;
	font-size: 10pt;
	color: #000;
	word-spacing : 0.1em;
}
.SourceLang {
	font-family: EmbeddedGeorgia, Georgia, serif;
	font-size: 10.5pt;
	color: #000;
}
.TargetLang {
	font-family: Courier New, monospace;
	font-size: 10pt;
	color: #bfbfbf;
}
.UserText {
	font-family: Courier New, monospace;
	font-size: 10pt;
	color: #000;
}
.OptionPanel {
	font-family: EmbeddedGeorgia, Georgia, serif;
	font-size: 8pt;
	color: #444;
}
