@font-face {
    font-family: 'EmbeddedGeorgia';
    src: url('../font/georgia_bold_italic-webfont.eot');
    src: url('../font/georgia_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/georgia_bold_italic-webfont.woff') format('woff'),
         url('../font/georgia_bold_italic-webfont.ttf') format('truetype'),
         url('../font/georgia_bold_italic-webfont.svg#georgiabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'EmbeddedGeorgia';
    src: url('../font/georgia_bold-webfont.eot');
    src: url('../font/georgia_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/georgia_bold-webfont.woff') format('woff'),
         url('../font/georgia_bold-webfont.ttf') format('truetype'),
         url('../font/georgia_bold-webfont.svg#georgiabold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'EmbeddedGeorgia';
    src: url('../font/georgia_italic-webfont.eot');
    src: url('../font/georgia_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/georgia_italic-webfont.woff') format('woff'),
         url('../font/georgia_italic-webfont.ttf') format('truetype'),
         url('../font/georgia_italic-webfont.svg#georgiaitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'EmbeddedGeorgia';
    src: url('../font/georgia-webfont.eot');
    src: url('../font/georgia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/georgia-webfont.woff') format('woff'),
         url('../font/georgia-webfont.ttf') format('truetype'),
         url('../font/georgia-webfont.svg#georgiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.UI {
	font-family: EmbeddedGeorgia, Georgia, serif;
	font-size: 10pt;
	color: #000;
	word-spacing : 0.1em;
}
.SourceLang {
	font-family: EmbeddedGeorgia, Georgia, serif;
	font-size: 10.5pt;
	color: #000;
}
.TargetLang {
	font-family: Courier New, monospace;
	font-size: 10pt;
	color: #bfbfbf;
}
.UserText {
	font-family: Courier New, monospace;
	font-size: 10pt;
	color: #000;
}
.OptionPanel {
	font-family: EmbeddedGeorgia, Georgia, serif;
	font-size: 8pt;
	color: #444;
}
